---
/**
 * Importing npm packages
 */
import { Image } from '@astrojs/image/components';

/**
 * Importing user defined packages
 */

/**
 * Importing components
 */
import Layout from '@app/layouts/Layout.astro';
import Logo from '@assets/images/logo.png';

/**
 * Defining types
 */

/**
 * Declaring the constants
 */
---

<Layout title='Forgot Password - Shadow Accounts'>
  <div class='screen py-20'>
    <div class='flex-center flex-col'>
      <Image src={Logo} alt='Shadow Accounts Logo' width={100} />
      <h1 class='text-xl mt-5'>Reset your password</h1>
      <div class='card mt-5'>
        <div class='field'>
          <label for='email'>Enter your email address and we will send you a password reset link</label>
          <input id='email' class='mt-4' type='text' />
          <div class='field-error hidden'>No Errors</div>
        </div>
        <button id='forgot-password' class='btn bg-secondary text-white w-full my-2'>Reset Password</button>
      </div>
    </div>
  </div>
</Layout>

<style>
  .card {
    background-color: var(--background-paper);
    width: 400px;
    padding: 20px;
    border-radius: 3px;
  }

  .field {
    font-size: 16px;
  }

  .field .field-error {
    font-size: 14px;
  }
</style>

<script>
  import { Notify } from 'notiflix';

  /** Getting the required element */
  const emailElement = document.getElementById('email') as HTMLInputElement;

  /** Setting up event listeners */
  const forgotPasswordButton = document.getElementById('forgot-password') as HTMLButtonElement;
  forgotPasswordButton.addEventListener('click', () => forgotPassword());

  async function forgotPassword() {
    const email = emailElement.value;
    const emailRegex = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]{1,32}@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/i;
    let msg = '';

    if (!email) msg = 'Required';
    else if (!emailRegex.test(email)) msg = 'Invalid email address';

    const parentElement = emailElement.parentElement as HTMLDivElement;
    const errorElement = parentElement.querySelector('.field-error') as HTMLDivElement;
    errorElement.innerText = msg;
    if (msg) {
      parentElement.classList.add('mb-0');
      errorElement.classList.remove('hidden');
    } else {
      parentElement.classList.remove('mb-0');
      errorElement.classList.add('hidden');
    }

    forgotPasswordButton.disabled = true;

    const query = `mutation { forgotPassword(email: "${email}") }`;
    const result = await window.graphql(query);
    if (result.success) {
      const divElement = document.createElement('div');
      divElement.className = 'text-base';
      divElement.innerText = 'You will receive a password reset email soon. Follow the link in the email to reset your password.';
      parentElement.replaceWith(divElement);
      forgotPasswordButton.remove();
    } else Notify.failure(result.error.message, { position: 'center-top' });

    forgotPasswordButton.disabled = false;
  }
</script>
