---
/**
 * Importing npm packages
 */

/**
 * Importing user defined packages
 */
import { verifyEmail } from '@app/lib';

/**
 * Importing components
 */
import Layout from '@app/layouts/Layout.astro';
import { Icon } from 'astro-icon';

/**
 * Defining types
 */

/**
 * Declaring the constants
 */
const code = Astro.url.searchParams.get('code');
const rawMsg = code ? await verifyEmail(code) : 'Invalid email verification code';
const success = rawMsg.includes('verified');
const msg = rawMsg.replace('code', 'link');
---

<Layout title='Verify Email - Shadow Accounts'>
  <div class='screen py-32'>
    <div class='card'>
      {success ? <Icon width='50px' color='#52a02e' name='mdi:checkbox-marked-circle-outline' /> : <Icon width='50px' color='#d74545' name='mdi:alert-circle-outline' />}
      <div class='text-3xl ml-5'>{msg}</div>
    </div>
  </div>
</Layout>

<style>
  .card {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: var(--background-paper);
    width: 700px;
    padding: 20px;
    border-radius: 3px;
  }
</style>
