---
/**
 * Importing npm packages
 */

/**
 * Importing user defined packages
 */

/**
 * Importing components
 */
import Layout from '@app/layouts/Layout.astro';

/**
 * Defining types
 */

/**
 * Declaring the constants
 */
---

<Layout title='Shadow Account'>
  <h1>Hello World</h1>
  <a href='/auth/signin'>Sign In</a>
  <a href='/auth/signup'>Sign Up</a>
  <a href='/auth/signout'>Sign Out</a>
</Layout>
