:root {
  --primary: #7825bd;
  --primary-dark: #621e99;
  --primary-light: #8d33d7;

  --secondary: #66c21a;
  --secondary-dark: #52a02e;
  --secondary-light: #7fd735;

  --divider: #ffffff12;
  --background: #121212;
  --background-paper: #292929;
  --background-paper-hover: #353535;

  --text: #aaa;
  --text-light: #ddd;
  --text-secondary: #8a8a8a;
  --text-disabled: #6a6a6a;

  --error: #d74545;
  --warning: #d29922;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: var(--background);
  color: var(--text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  min-width: 100vw;
  min-height: 100vh;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary-dark);
}

.bg-error {
  background-color: var(--error);
}

.btn.bg-primary:not([disabled]):hover {
  background-color: var(--primary-light);
}

.btn.bg-secondary:disabled {
  background-color: #215c05;
  color: var(--text-secondary);
}

.btn.bg-secondary:not([disabled]):hover {
  background-color: var(--secondary);
}

.primary-light {
  color: var(--primary-light);
}

.secondary {
  color: var(--text-secondary);
}

.error {
  color: var(--error);
}

.disabled {
  color: var(--text-disabled);
}

.field {
  font-size: 14px;
  margin-bottom: 20px;
}

.field label {
  display: block;
  margin-bottom: 3px;
  margin-left: 3px;
}

.field input {
  width: 100%;
  padding: 7.5px 15px;
  border-radius: 3px;
  background-color: var(--background);
  border: 1px solid var(--divider);
  outline: none;
  box-shadow: var(--background) 0px 0px 0px 100px inset;
  background-image: none;
}

.field .field-error {
  margin: 3px 0px 10px 2px;
  color: #cf2929;
  font-size: 13px;
}

.field input:focus {
  border-color: var(--primary);
}

.divider {
  height: 1px;
  background-color: var(--divider);
}

.bg-paper-hover:hover {
  background-color: var(--background-paper-hover);
}

.card {
  background-color: var(--background-paper);
  padding: 20px;
  border-radius: 3px;
}
