---
/**
 * Importing npm packages
 */

/**
 * Importing user defined packages
 */

/**
 * Importing components
 */

/**
 * Defining types
 */
export interface Props {
  title: string;
}

/**
 * Declaring the constants
 */
const props = Astro.props as Props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet' />
    <link rel='stylesheet' href='/assets/styles/global.css' />
    <title>{props.title}</title>
  </head>
  <body>
    <slot />
    <script is:inline>
      window.graphql = async function (query, variables) {
        const body = JSON.stringify({ query, variables });
        const headers = { 'Content-Type': 'application/json' };
        const response = await fetch('/graphql', { method: 'POST', body, headers });
        const result = await response.json();
        if (result.errors) return { success: false, error: result.errors[0], errors: result.errors };
        return { success: true, data: result.data };
      };
    </script>
  </body>
</html>
