---
/**
 * Importing npm packages
 */

/**
 * Importing user defined packages
 */

/**
 * Importing components
 */

/**
 * Defining types
 */
export interface Props {
  title: string;
  error?: 'page-not-found' | null;
}

/**
 * Declaring the constants
 */
const props = Astro.props as Props;
const user = Astro.locals.user;
const title = props.error === 'page-not-found' ? 'Page Not Found - Shadow Accounts' : props.title;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet' />
    <link rel='stylesheet' href='/assets/styles/global.css' />
    <title>{title}</title>
  </head>
  <body>
    {
      props.error === 'page-not-found' ? (
        <div class='screen py-30 flex-center'>
          <div class='card text-center py-10 px-32'>
            <h1 class='text-9xl'>404</h1>
            <div class='text-2xl mt-6'>Oops, we can't find the page you are looking for!</div>
            <a href={user ? '/home' : '/auth/signin'} class='btn bg-primary mt-10 w-1/4'>
              Go Home
            </a>
          </div>
        </div>
      ) : (
        <slot />
      )
    }
    <script is:inline>
      window.graphql = async function (query, variables) {
        const body = JSON.stringify({ query, variables });
        const headers = { 'Content-Type': 'application/json' };
        const response = await fetch('/graphql', { method: 'POST', body, headers });
        const result = await response.json();
        if (result.errors) return { success: false, error: result.errors[0], errors: result.errors };
        return { success: true, data: result.data };
      };
    </script>
  </body>
</html>
